@model NewsPortal.Models.ViewModels.LoginInputVM

@section StyleSheet{
    <link rel="stylesheet" href="~/Content/StyleSheet_ServicePages.css" />
}

    <section class="Section-Authorization">
        <div class="title-head">
            <span>Authorization</span>
        </div>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "authorization-form" }))
         {
        <div class="login-FFF">
            <div>
                @Html.EditorFor(LoginInputVM => LoginInputVM.Login)
                <div class="Image1"></div>
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.EditorFor(LoginInputVM => LoginInputVM.Password)
                <div class="Image2"></div>
            </div>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
             if (ViewBag.Message != null)
             {
                 <span class = "text-danger">@ViewBag.Message</span>
             }
        <div class="login-confirm">
            <div class="FirstButton">
                <label>
                    <input type="submit" name="Authorization" value="Войти">
                </label>
            </div>
            <div class="SecondButton">
                <span>
                    <a href="#">Have you forgotten password?</a>
                </span>
            </div>
        </div>
        <div class="login-footer">
            <div>
                <span>Login with:</span>
            </div>
            <div>
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
         }
    </section>

