@model NewsPortal.Models.ViewModels.LoginViewModel

@section StyleSheet{
    @Styles.Render("~/bundles/stylesheet-Service", "~/bundles/stylesheet-Site")
}
<section class="Section-Authorization">
    <div class="title-head">
        <span>Authorization</span>
    </div>
    <!-- Fields for filling-->
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "authorization-form" }))
    {
        <div class="login-FFF">
            <div>
                @Html.EditorFor(LoginViewModel => LoginViewModel.UserName)
                <div class="Image1">
                    <!--<img src="~/Content/AdditionalFiles/Icon/user.png">-->
                </div>
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.EditorFor(LoginViewModel => LoginViewModel.Password)
                <div class="Image2">
                    <!--<img src="../AdditionalFiles/pass-lock.png">-->
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        if (ViewBag.Message != null)
        {
            <span class="text-danger">@ViewBag.Message</span>
        }
        <div class="login-confirm">
            <div class="FirstButton">
                <label>
                    <input type="submit" name="Authorization" value="Log in">
                </label>
            </div>
            <div class="SecondButton">
                <span>
                    <a href="#">Forgot account?</a>
                    <!--@*Have you forgotten password?*@-->
                </span>
            </div>
        </div>
            <div class="login-footer">
                <div>
                    <span>Login with:</span>
                </div>
                <div>
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
    }
</section>