@using NewsPortal.Models.ViewModels;
@using Microsoft.AspNet.Identity;
@model HomePageModel

@section StyleSheet {
    @Styles.Render("~/bundles/stylesheet-Home")
}
@section SortingNews {
    @if (Model.Thumbnails.Any())
    {
        if (Model.SortedByDate)
        {
            <li>
                @Html.ActionLink("SORTING NEWS", "Index", "Home", new { sortedByDate = false },
               new { @class = "sort" })
            </li>
        }
        else
        {
            <li>
                @Html.ActionLink("SORTING NEWS", "Index", "Home", new { sortedByDate = true },
               new { @class = "reverse-sort" })
            </li>
        }
    }
}
<section class="back-image">
    <div class="background-image">
        <!--Here is the picture-->
    </div>
    <div class="background-text">
        <span>News of the day</span><br />
        <span>"Random Title"</span>
    </div>
</section>
<section class="news-head">
    <span>News</span>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="add-icon">
                @Html.ActionLink(" ", "Add", "News")
            </div>
        }
        <div class="sort-icon">
            @if (Model.Thumbnails.Any())
            {
                if (Model.SortedByDate)
                {
                    @Html.ActionLink(" ", "Index", "Home", new { sortedByDate = false }, new { @class = "sort", title = "Sorted by date" })
                }
                else
                {
                    @Html.ActionLink(" ", "Index", "Home", new { sortedByDate = true }, new { @class = "reverse-sort", title = "Sorted by date" })
                }
            }
        </div>
    </div>
</section>
<section class="news-item">
    @foreach (var item in Model.Thumbnails)
    {
        <article>
            @if (item.UserId == User.Identity.GetUserId().AsInt())
                {
                <div class="menu-news-item">
                    @Html.ActionLink(" ", "Edit", "News", new { newsItemId = item.Id }, new { @class = "edit" })
                    <a href="#@item.Id" name="show-popup-window"></a>
                </div>
                @Html.Partial("DialogWindow", new NewsPortal.Models.ViewModels.Dialog.DialogViewModel { Id = item.Id, Title = item.Title })
            }
            <div class="Title">
                <span>
                    @Html.ActionLink(item.Title, "MainNews", "News", new { newsItemId = item.Id },
             new { @class = "show-MainNews" })
                </span>
            </div>
            <div class="NewsInformation">
                <div class="NameUser">
                    @Html.DisplayFor(thumbnail => item.UserName)
                </div>
                <div class="CreationDate">
                    @Html.DisplayFor(thumbnail => item.CreationDate)
                </div>
            </div>
        </article>
    }

</section>
<div class="block-prev-page">
    @for (var i = -3; i < 3; i++)
    {
        @CreateActionLink(i);
    }
</div>
@helper CreateActionLink(int offset)
{
    var page = Model.CurrentPage + offset;
    if (page >= 0 && page <= Model.LastPage)
    {
        if (offset != 0)
        {
            var pageTransition = Model.CurrentPage + offset;
                @Html.ActionLink((Model.CurrentPage + offset + 1).ToString(), "Index", "Home",
               new { page = pageTransition, sortedByDate = Model.SortedByDate }, new { @class = "next-page" })
        }
        else
        {
            <span>@(Model.CurrentPage + 1)</span>
        }
    }
}