@using NewsPortal.Models.ViewModels;
@using Microsoft.AspNet.Identity;
@model List<NewsItemThumbnailViewModel>

@section StyleSheet {
    <link rel="stylesheet" href="~/Content/StyleSheet_MainPage.css" />
}
<section class="back-image">
    <div class="background-image">
        <!--Тут находится картиночка-->
    </div>
    <div class="background-text">
        <span>Новость дня</span> <br />
        <span>"Программисты захватили мир"</span>
    </div>
</section>
<section class="news-head">
    <span>Новости</span>
    @if (Model.Any())
    {
        if (Model.First().CreationDate < Model.Last().CreationDate)
        {
            @Html.ActionLink("Сортировка по дате", "Sort", "Home")
        }
        else
        {
            @Html.ActionLink("Сортировка по дате", "Index", "Home")
        }

    }
</section>
<section class="news-item">
    <!-- NewsItem -->
    @foreach (var item in Model)
    {

        <article>
            @if (item.UserId == User.Identity.GetUserId().AsInt())
            {
                <div class="menu-news-item">
                    @using (Html.BeginForm("Edit", "News", FormMethod.Post))
                    {
                        @Html.Hidden("newsItemId", item.Id)
                        <!--Проблема: Появляется "Отправить" на кнопке
                            Временное решение:  value=""-->
                        <input type="submit" id="edit-submit" value=""/>
                    }
                    <input type="button" id="delete-button" name="OpenPopup" onclick="Open()">
                    <!--Возможность добавления новые елементов-->
                </div>

                <!--Временное решение-->
                <dialog class="pop-up-window">
                    <div class="pop-up-window-close">
                        <input type="button" name="ClosePopup" onclick="Close()">
                    </div>
                    <div class="pop-up-window-head">
                        <p>
                            Вы подтверждаете удаление новости <br>
                            <span>"@Html.DisplayFor(modelItem => item.Title)"</span>
                        </p>
                    </div>
                    <div class="pop-up-window-main">
                        @using (Html.BeginForm("DeleteNewsItem", "News", FormMethod.Post))
                        {
                            @Html.Hidden("newsItemId", item.Id)
                            <input type="submit" value="Yes" />
                            <input type="button" name="ClosePopup" value="No" onclick="Close()">
                        }
                    </div>
                </dialog>
            }
            <div class="Title">
                <span>
                    @using (Html.BeginForm("MainNews", "News", FormMethod.Post))
                    {
                        @Html.Hidden("newsItemId", item.Id)
                        <input type="submit" id="show-submit" 
                               value="@Html.DisplayFor(modelItem => item.Title)" />
                    }
                </span>
            </div>
            <div class="NewsInformation">
                <div class="NameUser">
                    @Html.DisplayFor(modelItem => item.UserLogin)
                </div>
                <div class="CreationDate">
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </div>
            </div>
        </article>

    }
</section>
