@using NewsPortal.Models.ViewModels;
@using Microsoft.AspNet.Identity;
@model List<NewsItemThumbnailViewModel>


@section StyleSheet
                    {
    <link rel="stylesheet" href="~/Content/StyleSheet_MainPage.css" />
}

<section class="back-image">
    <div class="background-image">
        <!--Тут находится картиночка-->
    </div>
    <div class="background-text">
        <span>Новость дня</span> <br />
        <span>"Программисты захватили мир"</span>
    </div>
</section>
<section class="news-head">
    <span>Новости</span>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="add-icon">
                @Html.ActionLink(" ", "Add", "News")
            </div>
        }
        <div class="sort-icon">
            @if (Model.Any())
            {
                if (Model.First().CreationDate < Model.Last().CreationDate)
                {
                    @Html.ActionLink(" ", "Sort", "Home")
                }
                else
                {
                    @Html.ActionLink(" ", "Index", "Home")
                }

            }
        </div>
    </div>
</section>
<section class="news-item">

    <!-- NewsItem -->
    @foreach (var item in Model)
    {

        <article>
            @if (item.UserId == User.Identity.GetUserId().AsInt())
            {
                <div class="menu-news-item">
                    @using (Html.BeginForm("Edit", "News", FormMethod.Post))
                    {
                        @Html.Hidden("newsItemId", item.Id)
                        <input type="submit" value="Edit" />
                    }
<<<<<<< HEAD
                    @using (Html.BeginForm("DeleteNewsItem", "News", FormMethod.Post))
                    {
                        @Html.Hidden("newsItemId", item.Id)
                        <input type="submit" value="Delete" />
                    }

                    <input type="button" id="show-pop-up-window">
                    <!--Возможность добавления новые елементов-->
                </div>
=======
                    <input type="button" id="delete-button" name="OpenPopup" onclick="Open(@item.Id)">
                    <!--Возможность добавления новые елементов-->
                </div>

                <!--Временное решение-->
                <dialog class="pop-up-window" id="@item.Id">
                    <div class="pop-up-window-close">
                        <input type="button" name="ClosePopup" onclick="Close(@item.Id)">
                    </div>
                    <div class="pop-up-window-head">
                        <p>
                            Вы подтверждаете удаление новости <br>
                            <span>"@Html.DisplayFor(modelItem => item.Title)"</span>
                        </p>
                    </div>
                    <div class="pop-up-window-main">
                        @using (Html.BeginForm("DeleteNewsItem", "News", FormMethod.Post))
                        {
                            @Html.Hidden("newsItemId", item.Id)
                            <input type="submit" value="Yes" />
                            <input type="button" name="ClosePopup" value="No" onclick="Close(@item.Id)">
                        }
                    </div>
                </dialog>
>>>>>>> 34a495f... Улучшение и обновление проекта
            }
            <!--Временное решение-->
            <dialog class="pop-up-window">
                <div class="pop-up-window-close">
                    <input type="button" id="close-pop-up-window">
                </div>
                <div class="pop-up-window-head">
                    <p>
                        Вы подтверждаете удаление новости <br>
                        <span>"Девушки захватили мир!"</span>
                    </p>
                </div>
                <div class="pop-up-window-main">
                    <form>
                        <input type="submit" id="yes" value="Да">
                        <input type="submit" id="no" value="Нет">
                    </form>
                </div>
            </dialog>

            <div class="Title">
                <span>
                    @Html.DisplayFor(modelItem => item.Title)
                </span>
            </div>
            <div class="NewsInformation">
                <div class="NameUser">
                    @Html.DisplayFor(modelItem => item.UserLogin)
                </div>
                <div class="CreationDate">
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </div>
            </div>
        </article>
    }
</section>
