@using NewsPortal.Models.ViewModels;
@using Microsoft.AspNet.Identity;
@model HomePageModel

@section StyleSheet {
    <link rel="stylesheet" href="~/Content/StyleSheet_HomePage.css" />
}
<section class="back-image">
    <div class="background-image">
        <!--Here is the picture-->
    </div>
    <div class="background-text">
        <span>News of the day</span><br />
        <span>"Random Title"</span>
    </div>
</section>
<section class="news-head">
    <span>News</span>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="add-icon">
                @Html.ActionLink(" ", "Add", "News")
            </div>  
        }
        <div class="sort-icon">
            @if (Model.Thumbnails.Any())
            {
                if (Model.SortedByDate)
                {
                    @Html.ActionLink(" ", "Index", "Home", new { sortedByDate = false },
                        new { @class = "sort" })
                }
                else
                {
                    @Html.ActionLink(" ", "Index", "Home", new { sortedByDate = true }, 
                   new { @class = "reverse-sort" })
                }
            }
        </div>
    </div>
</section>
<section class="news-item">
    @foreach (var item in Model.Thumbnails)
    {
        <article>
            @if (item.UserId == User.Identity.GetUserId().AsInt())
            {
                <div class="menu-news-item">
                    @Html.ActionLink(" ", "Edit", "News", new { newsItemId = item.Id }, new { @class = "edit" })
                    <a href="#@item.Id" name="show-popup-window"></a>
                </div> 
                @Html.Partial("DialogWindow", new NewsPortal.Models.ViewModels.Dialog.DialogViewModel {Id = item.Id, Title = item.Title})
            }
            <div class="Title">
                <span>
                    @Html.ActionLink(item.Title, "MainNews", "News", new { newsItemId = item.Id },
                        new { @class = "show-MainNews" })
                </span>
            </div>
            <div class="NewsInformation">
                <div class="NameUser">
                    @Html.DisplayFor(thumbnail => item.UserName)
                </div>
                <div class="CreationDate">
                    @Html.DisplayFor(thumbnail => item.CreationDate)
                </div>
            </div>
        </article>
    }
</section>