@model NewsPortal.Models.ViewModels.NewsItemAddViewModel

@section StyleSheet{
    <link rel="stylesheet" href="~/Content/StyleSheet_ServicePages.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
}
<section class="Section-NewsAdd">
    <div class="title-head">
        <span>
            Adding news
        </span>
    </div>
    <div class="form-news-add">
        @using (Html.BeginForm("Add", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "creation-control" })
                    <div>
                        @Html.TextAreaFor(model => model.Title, 2, 120, new { htmlAttributes = new { @class = "" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "creation-control" })
                    <div>
                        @Html.TextAreaFor(model => model.Content, 20, 120, new { htmlAttributes = new { @class = "" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
                <div>
                    <div class="form-news-add-submits">
                        <input type="submit" value="Create" class="btn-submit-creation" />
                        <input type="file" name="uploadedImage" />
                    </div>
                    <div class="form-news-add-clean">
                        @Html.ActionLink("Clean", "Index")
                    </div>
                </div>
            </div>
        }
    </div>
</section>



@section script{
    <script src="~/CKEditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("Content", { height: 250 });
    </script>
}