@model NewsPortal.Models.ViewModels.NewsItemAddViewModel

@section StyleSheet{
    <link rel="stylesheet" href="~/Content/StyleSheet_ServicePages.css" />

}
<body>
    @using (Html.BeginForm("Add", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div>
            <h4 class="creation-control">Creation</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "creation-control" })
                <div>
                    @Html.TextAreaFor(model => model.Title, 1, 120, new { htmlAttributes = new { @class = "" } })
                </div>
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "creation-control" })
                <div>
                    @Html.TextAreaFor(model => model.Content, 20, 120, new { htmlAttributes = new { @class = "" } })
                </div>
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>

            <div>
                <input type="file" name="uploadedImage" />
            </div>
            <div>
                <input type="submit" value="Create" class="btn-submit-creation"/>
            </div>
        </div>
    }
    <div class="clean">
        @Html.ActionLink("Clean", "Add")
    </div>
</body>

@section script{
    <script src="~/CKEditor/ckeditor.js"></script>
<script>
            CKEDITOR.replace("Content", { height: 250 });
    document.getElementsByTagName("form")[0].addEventListener("submit", function () { 
        if (window.localStorage.getItem("localMemoryMode")) {
            var array = JSON.parse(window.localStorage.getItem("articles")) || [];
            var Context = CKEDITOR.instances.Content.getData();
            array.push({
                'Id': window.localStorage.getItem("Id"), 'Title': document.getElementById("Title").value,
                'Content': Context
            });
            window.localStorage.setItem("articles", JSON.stringify(array));
                    alert(window.localStorage.getItem("articles"));
                }
            });
</script>
}