@model NewsPortal.Models.ViewModels.NewsItemAddViewModel

@section StyleSheet{
    @Styles.Render("~/bundles/stylesheet-Site", "~/bundles/stylesheet-Service", "~/bundles/stylesheet-Help")
}
<section class="Section-NewsAdd">
    <div class="title-head">
        <span>
            Adding news
        </span>
    </div>
    <div class="form-news-add">
        @using (Html.BeginForm("Add", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    <div class="creation-control">
                        @Html.LabelFor(model => model.Title)
                    </div>
                    <div>
                        @Html.TextAreaFor(model => model.Title, 2, 120, new { htmlAttributes = new { @class = "" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
                <div>
                    <div class="creation-control">
                        @Html.LabelFor(model => model.Content)
                    </div>
                    <div>
                        @Html.TextAreaFor(model => model.Content, 20, 120, new { htmlAttributes = new { @class = "" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
                <div>
                    <div class="form-news-submits">
                        <input type="submit" value="Save the news item" class="btn-submit-creation" />
                        <div>
                            <div class="file_upload">
                                <button type="button"></button>
                                <input type="file" name="uploadedImage" id="fileImage"/>
                            </div>
                            <div class="form-news-clean">
                                @Html.ActionLink(" ", "Index")
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
    <div class="Preview">
        <div>
            <article>
                <div class="Title">
                    <span>
                        <a href="#null" id="TitlePreview"></a>
                    </span>
                </div>
                <div class="NewsInformation">
                    <div class="NameUser">
                        @User.Identity.Name
                    </div>
                    <div class="CreationDate">
                        @DateTime.Now
                    </div>
                </div>
            </article>
        </div>
        <div class="main-news-items">
            <div class="main-news-items-info">
                <time class="main-news-items-time">
                    @DateTime.Now
                </time>
                <section class="main-news-items-nameUser">
                    @User.Identity.Name
                </section>
            </div>
            <div class="main-news-items-head">
                <h1 id="TitlePreview-MainNews">
                    
                </h1>
            </div>
            <div class="main-news-items-content">
                <section class="image">

                </section>
                <section class="text">
                    
                </section>
            </div>
        </div>
    </div>
</section>



@section script{
    <script src="~/CKEditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("Content", { height: 250 });
    </script>
    <script src="~/Scripts/jquery.preview.js"></script>
}