@model NewsPortal.Models.ViewModels.NewsItemAddViewModel

@section StyleSheet{
    @Styles.Render("~/bundles/stylesheet-Site", "~/bundles/stylesheet-Service", "~/bundles/stylesheet-Help")
}
<section class="Section-NewsAdd">
    <div class="title-head">
        <span>
            Adding news
        </span>
    </div>
    <div class="form-news-add">
        @using (Html.BeginForm("Add", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    <div class="creation-control">
                        @Html.LabelFor(model => model.Title)
                    </div>
                    <div>
                        @Html.TextAreaFor(model => model.Title, 2, 120, new { htmlAttributes = new { @class = "" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
                <div>
                    <div class="creation-control">
                        @Html.LabelFor(model => model.Content)
                    </div>
                    <div>
                        @Html.TextAreaFor(model => model.Content, 20, 120, new { htmlAttributes = new { @class = ""} })
                    </div>
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
                <div>
                    <div class="form-news-submits">
                        <input type="submit" value="Save the news item" class="btn-submit-creation" />
                        <div>
                            <div class="file_upload">
                                <button type="button"></button>
                                <input type="file" name="uploadedImage" id="fileImage"/>
                            </div>
                            <div class="form-news-clean">
                                @Html.ActionLink(" ", "Add", "News")
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
    @Html.Partial("Preview", new NewsPortal.Models.ViewModels.News.NewsItemMainPageViewModel { CreationDate = DateTime.Now, UserName = User.Identity.Name})
</section>



@section script{
    <script src="~/CKEditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("Content", { height: 250});
    </script>
    <script src="~/Scripts/jquery.preview.js"></script>
}