<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="NewsPortal, News portal, Новостной портал">
    <meta name="description" content="Free news portal">
    <meta name="author" content="Dmitry Shmalyuk, Natalia Cheboksarova, Rostyslav Ruban, Vyacheslav Krivokhizha">

    <title>NewsPortal</title>
    @RenderSection("StyleSheet")
    @Styles.Render("~/bundles/stylesheet-Basic")
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,700i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
</head>
<body>
    <header>
        @{
            if (User.Identity.IsAuthenticated)
            {
                <div>
                    <span>
                        @Html.ActionLink("NewsPortal", "Index", "News")
                    </span>
                </div>
                <div>
                    <div class="item-menu-min">
                        <ul>
                            <li>@Html.ActionLink(User.Identity.Name, "Index", "Home")</li>
                            <li>@Html.ActionLink("Log out", "LogOff", "Account")</li>
                            <li>@Html.ActionLink("ADDING NEWS", "Add", "News")</li>
                            @RenderSection("SortingNews", false)
                            @RenderSection("DatabaseMenuMin", false)
                        </ul>
                    </div>
                    @RenderSection("DatabaseMenu", false)
                    <span class="item-menu">
                        @Html.ActionLink(User.Identity.Name, "Index", "Home")
                        @Html.ActionLink("Log out", "LogOff", "Account")
                    </span>
                </div>
            }
            else
            {
                <div>
                    <span>
                        @Html.ActionLink("NewsPortal", "Index", "News")
                    </span>
                </div>
                <div>
                    <div class="item-menu-min">
                        <ul>
                            <li>@Html.ActionLink("LOG IN", "Login", "Account")</li>
                            <li>@Html.ActionLink("SIGN UP", "Register", "Account")</li>
                            @RenderSection("SortingNews", false)
                            @RenderSection("DatabaseMenuMin", false)
                        </ul>
                    </div>
                    @RenderSection("DatabaseMenu", false)
                    <span class="item-menu">
                        @Html.ActionLink("Log in", "Login", "Account")
                        @Html.ActionLink("Sign up", "Register", "Account")
                    </span>
                </div>
            }
        }
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <section>
            <p class="footer-authors">
                <strong>Authors:</strong> Dmitry Shmalyuk, Natalia Cheboksarova, Rostyslav Ruban, Vyacheslav Krivokhizha.<br />
                <strong>Project managers:</strong> Vladislav Khomich, Sergey Miletsky, Anna Venhlovska.
            </p>
        </section>
    </footer>
    @RenderSection("Scripts", false)
</body>
</html>