<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/StyleSheet_BasicFormatting.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @RenderSection("StyleSheet")

    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,700i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
</head>
<body>
    <header>
        @{
            if (User.Identity.IsAuthenticated)
            {
                <div>
                    <span>
                        @Html.ActionLink("NewsPortal", "Index", "Home")
                    </span>
                </div>
                <div>
                    <div class="item-menu-min">
                        <ul>
                            <li>@Html.ActionLink(User.Identity.Name, "Index", "Account/Login")</li>
                            <li>@Html.ActionLink("LogOFF", "LogOff", "Account")</li>
                            @if (User.Identity.IsAuthenticated)
                            {

                                <li>@Html.ActionLink("ADDING NEWS", "Add", "News")</li>

                            }
                            @RenderSection("SortingNews", false)
                        </ul>
                    </div>
                    <span class="item_menu">
                        @Html.ActionLink(User.Identity.Name, "Index", "Account/Login")
                        @Html.ActionLink("Выйти", "LogOff", "Account")
                    </span>
                </div>
            }
            else
            {
                <div>
                    <span>
                        @Html.ActionLink("NewsPortal", "Index", "Home")
                    </span>
                </div>
                <div>
                    <div class="item-menu-min">
                        <ul>
                            <li>@Html.ActionLink("LOG IN", "Login", "Account")</li>
                            <li>@Html.ActionLink("CHECK IN", "Register", "Account")</li>
                            @if (User.Identity.IsAuthenticated)
                            {

                                <li>@Html.ActionLink("ADDING NEWS", "Add", "News")</li>

                            }
                            @RenderSection("SortingNews", false)
                        </ul>
                    </div>
                    <span class="item-menu">
                        @Html.ActionLink("Войти", "Login", "Account")
                        @Html.ActionLink("Регистрация", "Register", "Account")
                    </span>
                </div>
            }
        }
    </header>
    <main>
        @RenderBody()
    </main>
    <footer></footer>
    @RenderSection("Script", false)
</body>
</html>